---
import { Img } from "astro-imagetools/components";
import { YouTube } from "@astro-community/astro-embed-youtube";
import Layout from "../layouts/Layout.astro";
import movies from "../movies.json";

export async function getStaticPaths() {
  return movies.map((movie) => ({
    params: {
      slug: movie.slug,
    },
    props: movie,
  }));
}

const { title, poster, images, video } = Astro.props;
---

<Layout title="Jimena Azula">
  <main>
    {video && <YouTube id={video} class="mx-auto" />}
    <br />
    {
      images &&
        images.map((img) => <Img attributes={{img: { class:"movie-image"}}} src={img} alt={title} placeholder="blurred"/>)
    }
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .movie-image {
    margin-bottom: 1rem;
    width: 100%;
  }
</style>
