---
import { YouTube } from "@astro-community/astro-embed-youtube";

import Layout from "../layouts/Layout.astro";

const videos = [
    'TSuMpFzbHPw',
    'U_4MBREXltE',
    'NFEj5yCtf9E'
];
---

<Layout title="COMMERCIAL | jimenaazula">
  <main>
    <div class="videos">
        <div class="video">
            <iframe src="https://player.vimeo.com/video/267480484?title=0&app_id=122963" />
        </div>
        <div class="video">
            <iframe src="https://player.vimeo.com/video/272575184?title=0&app_id=122963" />
        </div>
        <div class="video">
            <iframe src="https://player.vimeo.com/video/272572659?title=0&app_id=122963" />
        </div>
        {
            videos.map((id) => (
                <div class="video">
                    <YouTube id={id} />
                    </div>
                    ))
                }
                <div class="video">
                    <iframe src="https://player.vimeo.com/video/229720282?title=0&app_id=122963" />
                </div>
      
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    width: 100%;
  }

  .videos {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .video {
    min-width: 100%;
    flex: 1;
  }

  .video iframe {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 768px) {
    .video {
      min-width: 40%;
    }
  }
</style>
