---
import { Img } from "astro-imagetools/components";

import Layout from "../layouts/Layout.astro";
import movies from "../movies.json";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="tiles">
      {
        movies.map((movie) => (
          <a href={`/jimena/${movie.slug}`} class="movie-tile">
            <Img src={movie.poster} alt={movie.title} placeholder="blurred" />
          </a>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    width: 100%;
  }

  .tiles {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    columns: 6 200px;
    /* display: flex;
    flex-direction: column; */
    /* flex-flow: column wrap; */
  }

  /* .tiles::before,
  .tiles::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  } */

  .movie-tile {
    /* flex: 1; */
    /* width: 100%; */
    display: inline-block;
    margin: 0 0 1rem 0;
    /* min-height: 100px; */
  }

  .movie-tile:nth-child(3n + 1) {
    order: 1;
  }
  .movie-tile:nth-child(3n + 2) {
    order: 2;
  }
  .movie-tile:nth-child(3n) {
    order: 3;
  }

  .movie-tile img {
    width: 100%;
    transition: opacity 0.2s ease-in-out;
  }
  .movie-tile:hover img {
    opacity: 0.5;
  }
</style>
