---
import Layout from "../layouts/Layout.astro";
import movies from "../movies.json";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="tiles">
      {
        movies.map((movie) => (
          <a href={`/jimena/${movie.slug}`} class="movie-tile">
            <img src={movie.poster} alt={movie.title} />
          </a>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    width: 100%;
  }

  .tiles {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    columns: 6 200px;
  }

  .movie-tile {
    /* width: 100%; */
    display: block;
    margin: 0 0 1rem 0;
  }

  .movie-tile img {
    width: 100%;
    transition: opacity 0.2s ease-in-out;
  }
  .movie-tile:hover img {
    opacity: 0.5;
  }

  /* @media (min-width: 768px) {
    .movie-tile {
      width: 300px;
    }
  }

  @media (min-width: 1024px) {
    .movie-tile {
      width: 300px;
    }
  }

  @media (min-width: 1200px) {
    .movie-tile {
      width: 185px;
    }
  } */
</style>
