---
import { Img } from "astro-imagetools/components";

import Layout from "../layouts/Layout.astro";
import movies from "../movies.json";
---

<Layout title="Jimena Azula">
  <main>
    <div class="tiles">
      {
        movies.map((movie) => (
			<a href={`/jimena/${movie.slug}`} class="movie-tile">
				<Img src={movie.poster} alt={movie.title} placeholder="blurred" />
			</a>
        ))
      }
    </div>
  </main>
</Layout>

<script>
	import "../scripts/masonry.js";
  </script>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    width: 100%;
  }

  .tiles {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .movie-tile {
    margin: 0 0 1rem 0;
	width: 48%;
	transition: opacity 0.2s ease-in-out;
  }

  .movie-tile img {
    width: 100%;
  }
  .movie-tile:hover {
    opacity: 0.5;
  }


  @media (min-width: 768px) {
	.movie-tile {
	  width: 185px;
	}
  }
</style>
